@mixin easeInOutTransition($time: 300ms){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}
@mixin cubicBezierTransition(){
  -webkit-transition: all .4s cubic-bezier(0.6, 0.4, 0.1, 1);
  -moz-transition: all .4s cubic-bezier(0.6, 0.4, 0.1, 1);
  -ms-transition: all .4s cubic-bezier(0.6, 0.4, 0.1, 1);
  -o-transition: all .4s cubic-bezier(0.6, 0.4, 0.1, 1);
  transition: all .4s cubic-bezier(0.6, 0.4, 0.1, 1);
}

@mixin customTransition($property, $time: 500ms, $timing: ease-in-out) {
  -webkit-transition: $property $time $timing;
  -moz-transition: $property $time $timing;
  -ms-transition: $property $time $timing;
  -o-transition: $property $time $timing;
  transition: $property $time $timing;
}

/*
  Material Icons for Pseudo
*/
@mixin materialIcon($code: '') {
  content: $code;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  from { -webkit-transform: translateZ(-120px); transform: translateZ(-120px); opacity: 0; }
  to { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1; }
}
@keyframes fade-in-fwd {
  from { -webkit-transform: translateZ(-120px); transform: translateZ(-120px); opacity: 0; }
  to { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1; }
}
