:root {
  --nuxiopress-theme: #{$theme-color};
  --nuxiopress-theme-dark: #{$theme-color-dark};
  --nuxiopress-primary: #{$primary-color};
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
#__nuxiopress {
  max-width: 100%;
  overflow-x: hidden;
  color: $primary-color;
}
#__layout,
#app {
  min-height: 750px;
}

a, button, .btn { @include easeInOutTransition(); }
a { color: $theme-color;
  &:hover { color: $primary-color; text-decoration: none; }
}

.floating-label { color: $primary-color;
  label { font-size: 14px; }
  &.is-focused, &.has-value {
    label { font-weight: 500 !important; transform: scale(0.85); }
    .form-control { margin-top: 12px; }
  }
  &.is-focused label { color: $primary-color; letter-spacing: 0.02em; }
}

.form-group {
  &.is-invalid {
    .floating-label {
      &.is-focused, &.has-value {
        &>label { color: var(--danger); }
      }
      &.has-value {
        &>label { opacity: 0.48; }
        &.is-focused > label { opacity: 1; }
      }
    }
  }

  // Validation Icon
  &.is-valid, &.is-invalid {
    &>.floating-label::after { @include materialIcon(); position: absolute; right: 8px; bottom: 30px; font-size: 24px; line-height: 1;
    }
  }
  &.is-valid > .floating-label::after { content: '\e876'; color: var(--success); bottom: 5px !important; }
  &.is-invalid > .floating-label::after { content: '\e14c'; color: var(--danger); }
}

/* Custom Control Panel */
.custom-control { padding-left: 1.75rem; }
.custom-control-input:checked ~ .custom-control-label {
  &:before { background-color: $theme-color !important; }
  &:after { color: $theme-color !important; }
}

.form-control, .custom-select, .form-control-file { font-size: 14px;
  &:focus { border-color: $theme-color; box-shadow: inset 0 -2px 0 -1px $theme-color; }
}

.btn-theme { border-color: $theme-color; background-color: $theme-color;
  &:hover, &:focus, &:disabled, &.disabled { border-color: $theme-color-dark; background-color: $theme-color-dark; }
  &:disabled { cursor: not-allowed; color: #cecece; }
}

.page-enter, .page-enter-active {
  -webkit-animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.page-leave-active {
  -webkit-animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
  animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}
